<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="toppage-textbox mt-5 mb-5">
        <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong> !!</h1>
        <p>In <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
        <p>you can share and exchange your opinions , inpressions , and emotions</p>
        <p>about various books!</p>
        <div class="buttons col-10 mx-auto">
          <P>
          <%= link_to new_user_session_path, class: "btn btn-info btn-sm btn-block" do %>
          Log in
          <% end %>
          </P>
          <P>
          <%= link_to new_user_registration_path, class: "btn btn-success btn-sm btn-block" do %>
          Sign up
          <% end %>
          </P>
        </div>
      </div>
    </div>
  </div>
</div>